body {
    display: flex;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar {
    color: white;
    height: 100vh;
    position: relative;
    text-align: center;
}

.sidebar > img {
    height: 100%;
}

.logo {
    font-family: "Beau Rivage", cursive;
    font-size: 5rem;
    position: absolute;
    padding: 0.5rem 0;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
}

.credit {
    /* width: 25rem; */
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    /* text-decoration: none; */
    color: white;
}
